*.pyc
storage/*
web
util/bin/public/mapserv.cgi
util/bin/public/tilecache.cgi
util/lib/TileCache
web_dev/LC_MESSAGES/*
web_dev/js/OpenLayers*
web_dev/js/MooTools/mootools-*
web_dev/images/OpenLayers

!storage/map/
!storage/map/airspace/
storage/map/airspace/*
!storage/map/airspace/airspace.map

!storage/terrain/

*.swp
*.swo
