<IfModule mod_rewrite.c>

RewriteEngine On

# Waypoints
RewriteRule ^waypoints/(\d*)/lon([-]?\d*)/lat([-]?\d*)$ /bin/get_waypoints.py?id=$1&lon=$2&lat=$3
RewriteRule ^waypoints/(\d*)/remove$ /bin/remove_waypoint_file.py?fileId=$1
RewriteRule ^waypoints/upload$ /bin/upload_waypoint_file.py

</IfModule>

