<IfModule mod_rewrite.c>

RewriteEngine On

# Tasks
RewriteRule ^tasks/delete/([^&+/;<>]*)$ /bin/remove_task.py?task_name=$1

# Waypoints
RewriteRule ^waypoints/(\d*)/lon([-]?\d*)/lat([-]?\d*)$ /bin/get_waypoints.py?id=$1&lon=$2&lat=$3
RewriteRule ^waypoints/(\d*)/remove$ /bin/remove_waypoint_file.py?fileId=$1
RewriteRule ^waypoints/upload$ /bin/upload_waypoint_file.py

# Search
RewriteRule ^search/([-]?\d*\.?\d*?),([-]?\d*\.?\d*?),([-]?\d*\.?\d*?),([-]?\d*\.?\d*?)/(.*)$ /bin/search.py?bbox=$1,$2,$3,$4&q=$5

</IfModule>

